<mat-toolbar  style="padding: 30px">
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
        <div class="row mr-2 ml-auto">
            <ul>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" class="admin mt-2 d-flex align-items-center">
                        <img src="../../../assets/admin.jpg" class="admin-img mr-1 p-2">
                        Admin
                        <mat-icon class="admin-img-icon ml-1">keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button  mat-menu-item style="font-family: Montserrat; font-weight: 500;" (click)="signOut();">
                            <mat-icon style="color: #667B8F;" >exit_to_app</mat-icon>
                            Salir
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
