body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.mat-toolbar{
    color: #64813F;
    background-color: #F9E9DA;
    height: 110px;
}

.pepito{
    box-sizing: border-box;
    border: 100px;
    color: #ffffff;
    background-color: #DAB692
}

.form-outline{
    border-radius: 10px;
    color: #878585;
    font-family: 'Montserrat', sans-serif;
    font-style: oblique;
    margin-top: 0px;
    margin: auto;
    flex: 100%;
    font-size: 15px;
    
}


.searchTerm {
    color: #878585;
    font-family: 'Montserrat', sans-serif;
    font-style: oblique;
    font-size: 15px;
    border-radius: 25px;
    margin-right: 10px;
    
  }



  .searchTerm:focus {
    color: #878585;
    font-family: 'Montserrat', sans-serif;
    font-style: oblique;
    font-size: 15px;
  }
  p{
      color: #383c52;
  }
.botonB{
    margin-right: 100px;
    background-color: #DAB692;
    border-radius: 60px;
    color: #ffffff;
    flex: 100px;
}
.ms{
    
    height: 100px;
    padding: 0px 50px
}

.mat-toolbar .logo{
    margin: auto;
    height: 50%;
    padding-left: 25px;
    padding-right: 35px;
}

.searchbox {
    float: left;
    }
    input[type=text] {
    padding: 6px;
    padding-right:400px;
    margin-left:50px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    outline: none;
    }
    
