@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  
}
.container{
    margin-top:25px;
}

.triangle{
    margin: 10px 5px 0 0 ;
}
.nav-breadcrumb{
    color: #64813F;
   font-size:25px;
   margin-bottom:45px;
   
   
}
 .title-carrito{
    margin-top:5px;
    color: #4A72B2;
    font-weight: bold;
    font-size: 25px;
 }

 .total{
     margin-top: 50px;
   
 }


 .pagar {
    
     background-color: #4A72B2;
     border:none;
     width: 50%;
     float: center;
     margin-bottom:25px;
    
 }
 .pagar:hover{
    background-color:rgb(106, 106, 106);
 }
.back  {
  
    color:black;
    font-size:21px;
    text-decoration: none;
    padding-top:500px;
    
    
}

a{
    margin-bottom: 100px;
}
.back:hover{
    color:rgb(106, 106, 106);
}

.imagen{
    
    display: flex;
    max-width: 100%;
    height: 10%;
    width: 10%;
    margin:0;
    margin:10px;
}
th{
    font-size:20px;
}

.precio{
    display: flex;
    flex-direction: row-reverse;
}

.continua{
  margin-top: 50px;
}

.table{
  justify-content: center;
  flex: 100%;
  display: flex;
}

.column{
  justify-content: flex;
  padding-left:10px;
  text-align:center;
  margin:10px;
  border-radius:5px;
  
}