<form (ngSubmit)="update()" autocomplete="off" [formGroup]="form" #frmLibro2="ngForm" *ngIf="pedido" style="margin-top: 2rem;">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="invisible d-block" style="width: 50%;" >
                <mat-label >Usuario</mat-label >
                <input
                [readonly]="true"
                matInput #nombreInput
                type="text"
                maxlength="100"
                formControlName="usuario"
                [(ngModel)]="pedido.usuario"
                
                />
                <mat-hint align="end">{{nombreInput.value?.length || 0}}/100</mat-hint>
               
            </mat-form-field>
            <mat-form-field appearance="outline" class="invisible d-block" style="width: 50%;" >
                <mat-label >InfoPedido</mat-label >
                <input
                [readonly]="true"
                matInput #nombreInput
                type="text"
                maxlength="100"
                formControlName="infoEnvio"
                [(ngModel)]="pedido.infoEnvio"
                
                />
               
            </mat-form-field>
        
    </div>
    
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="invisible d-block" style="width: 50%;">
                <mat-label>Costo de Envio</mat-label>
            <input
                matInput #nombreInput
                type="number"
                formControlName="costoEnvio"
                required [(ngModel)]="pedido.costoEnvio"
               
                />
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="invisible d-block" style="width: 50%;">
                <mat-label>Monto de Pago</mat-label>
                <input
                matInput #nombreInput
                type="number"
                formControlName="montoPago"
                required [(ngModel)]="pedido.montoPago"
                />
               
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="invisible d-block" style="width: 50%;">
                <mat-label>Fecha de Pedido</mat-label>
                <input
                matInput #nombreInput
                type="date"
                ng-model="fechaPedido"
                value="{{pedido.fechaPedido}}"
                formControlName="fechaPedido"
                [readonly]="true"
                 [(ngModel)]="pedido.fechaPedido"
                />
               
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="invisible d-block" style="width: 50%;">
                <mat-label>Subtotal</mat-label>
                <input
                [readonly]="true"
                matInput #nombreInput
                type="number"
                formControlName="subtotal"
                required [(ngModel)]="pedido.subtotal"
                />
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" class="invisible d-block" style="width: 50%;">
                <mat-label>ProductosPedido</mat-label>
                <input
                [readonly]="true"
                matInput #nombreInput
                type="text"
                formControlName="productosPedido"
                required [(ngModel)]="pedido.productosPedido"
                />
            </mat-form-field>
        </div>
        <div class="resumen">
            <div class="row">
              <h2 class="resumen-title">Información de envio</h2>
            </div>
            <div class="row" *ngIf="pedido">
              <div class="col-md-2">
                <p align="right"> <b>Nombre: </b> </p>
                <p align="right"><b>Telefono: </b></p>
                <p align="right"><b>Dirección: </b></p>
    
              </div>
              <div class="col">
                <p>{{infoEnvio.nombreContactoEnvio}}</p>
                <p>{{infoEnvio.numTelefonoEnvio}}</p>
                <p>{{infoEnvio.direccionEnvio}}</p>
    
              </div>
    
              <div class="col-md-2">
                <p align="right"><b>Apartamento: </b></p>
                <p align="right"><b>Código postal: </b></p>
              </div>
              <div class="col">
                <p>{{infoEnvio.apartamentoEnvio}}</p>
                <p>{{infoEnvio.codigoPostal}}</p>
    
              </div>
    
            </div>
    
          </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline" style="width: 50%;">
                <mat-label>Estado de pedido</mat-label>
                <mat-select [(ngModel)]="pedido.estadoPedido" formControlName="estadoPedido" name="estadoPedido">

                    <mat-option *ngFor="let estado of estados" [value]="estado">
                        {{estado.nombreEstado}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
        <mat-form-field appearance="outline" class="d-block" style="width: 50%;">
            <mat-label>Metodo de pago</mat-label>
            <input
            matInput #nombreInput
            type="text"
            maxlength="100"
            formControlName="metodoPago"
            required [(ngModel)]="pedido.metodoPago"
            />
            <mat-hint align="end">{{nombreInput.value?.length || 0}}/100</mat-hint>
           
        </mat-form-field>
        </div>
        </div>
        
        <br>
        <div class="items ">
            <div class="row ">
                <h2 class="resumen-title">Ítems</h2>
            </div>
            <div class="row">
                <table 
                mat-table
                [dataSource]="dataSource2"
            
                matSort
                class="mat-elevation-z8"
                class="w-100"
                >
                <div class="table-row" >
                    <ng-container matColumnDef="id" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
                        <td mat-cell *matCellDef="let element" >{{ element.idProducto }}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="producto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
                    <td mat-cell *matCellDef="let element">{{ element.nombreP }}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Cantidad</th>
                    <td mat-cell *matCellDef="let element" style="text-align: center; ">1</td>
                    </ng-container>
            
                    <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">Precio</th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">S/ {{ element.precioP.toFixed(2) }}</td>
                    </ng-container>
                    
                </div>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>
        <br>
        <br>
        </div>
            
        <button mat-button routerLink="/admin/pedidos">Cancelar</button>

        <button
        mat-raised-button
        color="primary"
        type="submit"
        class="ms-2"
        [disabled]="frmLibro2.invalid"
        >Guardar</button>
    
    </form>

   